@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-100;
    -webkit-font-smoothing: antialiased;
}

@keyframes spin {
    to {transform: rotate(360deg); }
}
.loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    border-top:
        8px solid rgba(255, 255, 255, 1);
    border-left:
        8px solid rgba(255, 255, 255, 1);
    border-right:
        8px solid rgba(255, 255, 255, 0);

    animation: spin 0.572s infinite linear;
}
 